
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100&display=swap');
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    

}

.container{
  margin: auto;
  max-width: 1100px;
 padding: 0 1.5rem; 
} 

main{
  background: no-repeat center/100% url("/img/smiu1.jpg");
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
}

main h1{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  /* border-top:  1px solid white ; */
}
main h2{
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 18.5px;
  padding: 0;
  margin: 0;
  /* padding-bottom: 1rem; */
  font-size: 1.2rem; 
  /* border-bottom:  1px solid white ; */
 
}

main h1, main h2,main img{
  animation: tada 4s normal;
}
@keyframes tada{
  from{
      opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

 main p{
  animation: cubic-bezier(0.63, -0.72, 0.34, 1.59) 1s down-to-up ;
} 
@keyframes down-to-up {
  0%{ 
      transform: translateX(100%);
  }
}
main img{
  height: 20%;
  /* padding-bottom: 1rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50%; */
}
.menu ul {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem; 
}
.menu a{
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border: white solid 1px;
}
.menu li {
  margin: 0 1.75rem; 
  list-style: none;
  cursor: pointer;
}

.menu a:hover {
  color: black;
  background-color: white;
  border: black solid 1px;
}
.menu2 img{
  height: 80px;
}
.menu2{
  display: flex;
  background-color: white;
  padding-bottom: 10px;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.sticky{
  position: sticky;
  top: 0;
}
.menu-list{
  display: flex;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
.menu2 a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}
#p1{
  font-family: 'Montserrat', sans-serif;
   font-size: 20px; 
   margin-bottom: 0;
}
#p2{
  font-family: 'Roboto Mono', monospace; 
  font-size: 15px; 
  margin: 0; 
  letter-spacing: 2px; 
  font-weight: bold; 
  opacity: 50%;
}
.index-menu{
  display: none;
}
.active, .menu2 a:hover {
  border-bottom: #21395f solid ;
  color: #21395f ;
}
.logo{
  display: flex;
  margin-right:120px;
}
.team{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.heading{
  font-family:'Montserrat', sans-serif;
  color: #4e4e4e;
  font-size: 4rem;
  text-align: center;
} 
.team-member{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Montserrat', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3rem 5rem;
  margin: 2rem;
}
.team-member img{
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.team-member h3{
  margin-block-end: 0; 
  color: #4e4e4e;
}

.team-member p{
  font-weight: bold;
}
.core-team{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
}

footer{
  font-weight: bold;
  padding-top: 4rem;
  margin: 2rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #4e4e4e;
}
#first{
  font-size: 1.5rem;
  margin: 5px 0;
}
.second{
  font-size: 0.8rem;
  margin: 0;
}
.second p, .second a{
  margin: 0;
}
.about p{
  font-family:'Montserrat', sans-serif;
  color: #4e4e4e;
  text-align:justify;
}
.partner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact{
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #4e4e4e;
   display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.75rem;
}

.contact p{
  font-weight: bold;
}
.fa, .fab{
  margin: 1rem;
  color:  #123d83;
}
.social, .email, .call{
  margin: 2rem;
}
.contact i:hover{
  color: black;
}
.event img{
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  object-fit: cover;
}
.event{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:'Montserrat', sans-serif;
  margin-bottom: 2rem;
}


/* Animation */
.wrapper {
  animation: opac 1s ease infinite;
  animation-delay: 3.5s;
  position: relative;

}

.wrapper, .wrapper1,.wrapper2,.wrapper3{
  animation: opac 1s ease infinite;
  animation-delay: 3.5s;
  z-index: -1;
}
.wrapper
{
left: 200px;
top: 110px;
}
.wrapper > * {
width: 30px;
height: 30px;

}
.red {
background: #f44336;
}

@keyframes opac{
0%{
opacity: 100%;
}100%{
opacity: 0;
}
}
@keyframes mover{
  0%{
      transform: translateX(1000px);
  }50%{
      transform: translateX(-1000px)
  }
}
.green {
background: #4caf50;
}
@keyframes mover-green{
  0%{
      transform: translateY(1000px);
  }
  50%{
      transform: translateY(-1000px)
  }
}
.blue {
background: #2196f3;
position: fixed;
left: 170px;
top: 250px;

}
@keyframes mover-blue{
  0%{
      transform: translateY(-1000px);
  }50%{
      transform: translateY(1000px)
  }
}
.yellow {
background: #ffc107;
position: fixed;
left: 170px;
top: 220px;
}
@keyframes mover-yellow {
  0%{
      transform: translateX(-1000px);
  }50%{
      transform: translateX(1000px)
  }
}
.wrapper1 {
  position: fixed;
  bottom:220px;
  left:110px;
}
.wrapper1 > * {
  width: 30px;
  height: 30px;
  }
.yellow1 {
background: #ffc107;
position: fixed;
left: 138px;
bottom: 220px;
}
.blue1 {
background: #2196f3;
position: fixed;
left: 138px;
bottom: 250px;
}
.green1 {
background: #4caf50;
}
.red1 {
background: #f44336;
}

.yellow, .yellow1,.yellow2, .yellow3{
  animation: mover-yellow 4s infinite ease;
}
.green, .green1,.green2, .green3{
  animation: mover-green 4s infinite ease;
}
.red, .red1,.red2, .red3{
  animation: mover 4s infinite ease;
}
.blue, .blue1,.blue2, .blue3{
  animation: mover-blue 4s infinite ease;
}
.wrapper2 {
  position: fixed;
  bottom:20px;
  right: 10px;
}
.wrapper2 > * {
  width: 30px;
  height: 30px;
  }
  .yellow2 {
      background: #ffc107;
      position: fixed;
      right: 38px;
      bottom: 20px;
      }
      .blue2 {
      background: #2196f3;
      position: fixed;
      right: 38px;
      bottom: 50px;
      }
      .green2 {
      background: #4caf50;
      }
      .red2 {
      background: #f44336;
      }

      .wrapper3 {
          position: fixed;
          top:200px;
          right: 110px;
      }
      .wrapper3 > * {
          width: 50px;
          height: 50px;
          }
          .yellow3 {
              background: #ffc107;
              position: fixed;
              right: 158px;
              top: 200px;
              }
              .blue3 {
              background: #2196f3;
              position: fixed;
              right: 158px;
              top: 250px;
              }
              .green3 {
              background: #4caf50;
              }
              .red3 {
              background: #f44336;
              }
/* animation end */

.signature{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signature i{
  font-size: 1.5rem;
}
.signature i:hover{
  color: black;
}
.signature img{
  height: 0.9rem;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}
.signature img:hover{
  background-color: #4e4e4e;
}